<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:100,200,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <style>


    header{
      width:100%;
      height:100px;
      position:relative;
      z-index:30;

    }

    header .leftlinks{
      left:0px;
      text-align:right;
      padding-right:10px;
      box-sizing: border-box;
      width: calc(50% - 100px);
      height: 20px;
      position: absolute;
      bottom:22px;
      font-family:Rambla, PT Sans Narrow, PT-Sans-Narrow, sans-narrow, Lato, sans-serif;
      font-size:16px;
      color:teal;
    }

    header .leftlinks > a {
      text-decoration: none;
      margin-left:2.5%;
      margin-right:2.5%;
      color: teal;
    }

    header * > a:hover {
      opacity:.5;
    }

    header .rightlinks{
      right:0px;
      text-align:left;
      padding-left:10px;
      box-sizing: border-box;
      width: calc(50% - 100px);
      height: 20px;
      position: absolute;
      bottom:22px;
      font-family:Rambla, PT Sans Narrow, PT-Sans-Narrow, sans-narrow, Lato, sans-serif;
      font-size:16px;
      color:teal;
    }

    header .rightlinks > a {
      text-decoration: none;
      margin-left:2.5%;
      margin-right:2.5%;
      color: teal;
    }

    header > img {
      width:200px;
      height:200px;
      margin-left:48%;
      margin-left:calc(50% - 100px);
      background-color:white;
      z-index:2;
      position:relative;
      border-radius:100%;
    }

    header > .underline{
      position:absolute;
      z-index:1;
      width:100%;
      height:10px;
      bottom:0px;
      left:0px;
      background-color: teal;
    }

    body{
      margin:0px;
      padding:0px;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    .red{
      color: #CE282C !important;
    }

    .yellow{
      color: #FECC2B !important;
    }

    .teal{
      color: #159776 !important;
    }

    .purple{
      color: #624A70 !important;
    }

  </style>
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

        <header>
          <div class="leftlinks">
            <a href="/about" class="red">ABOUT</a>
            <a href="/theme" class="purple">THEME</a>
            <a href="/program" class="yellow">PROGRAM</a>
            <a href="/speakers" class="teal">SPEAKERS</a>
          </div>
          <div class="rightlinks">
            <a href="/faq" class="yellow">FAQ</a>
            <a href="/logistics" class="red">LOGISTICS</a>
            <a href="/sponsors" class="teal">SPONSORS</a>
            <a href="/team" class="purple">THE TEAM</a>
          </div>
          <div class="underline"></div>
          <a href="http://samc2016.com/"><img class="logo" src="{{asset "images/sail_logo.png"}}"></a>
        </header>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer>

          <div class="col5">
            <img src="{{asset "images/footer.png"}}" class="footerlogo">
            <div class="socialmedia">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
            </div>
          </div>
          <div class="col5 pushdown">
            <a href=""><!-- --></a>

          </div>
          <div class="col5 pushdown">

          </div>
          <div class="col5 pushdown">

          </div>
        </footer>


    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
