<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:100,200,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <style>


  </style>
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

        <header style="z-index:100;">
          <div class="leftlinks">
            <a href="/about" class="red">ABOUT</a>
            <a href="/theme" class="purple">THEME</a>
            <a href="/program" class="yellow">PROGRAM</a>
            <a href="/speakers" class="teal">SPEAKERS</a>
          </div>
          <div class="rightlinks">
            <a href="/faq" class="yellow">FAQ</a>
            <a href="/logistics" class="red">LOGISTICS</a>
            <a href="/sponsors" class="teal">SPONSORS</a>
            <a href="/team" class="purple">THE TEAM</a>
          </div>
          <div class="underline"></div>
          <img class="logo" src="{{asset "images/sail_logo.png"}}">
        </header>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer>

          <div class="col5">
            <img src="{{asset "images/footer.png"}}" class="footerlogo">
            <div class="socialmedia">
              <a href="https://www.facebook.com/South-Asian-Millennials-Conference-at-Columbia-University-1666548910271381/?notif_t=page_admin"><i class="fa fa-facebook"></i></a>

            </div>
          </div>
          <div class="col5 pushdown">
            <a href="https://www.facebook.com/South-Asian-Millennials-Conference-at-Columbia-University-1666548910271381/?notif_t=page_admin">Official Facebook Page</a>
            <a href="https://www.facebook.com/events/153198431717788/">Official Facebook Group</a>
            <a href="https://www.facebook.com/events/211931282480950/">Colonial Hangovers</a>
          </div>
          <div class="col5 pushdown">

          </div>
          <div class="col5 pushdown">

          </div>
        </footer>


    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
