{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<section name="main">
  <h1>South Asian Millennials Conference</h1>
  <h2 class="red">A Spotlight on Change</h2>
  <h3 class="">February 13th-14th, 2016</h3>
  <h4>FEATURING</h4>
  <div class="list_of_names">
    <span>DR. SHASHI THAROOR</span>
    <span>Mrunalini Deshmukh</span>
    <span>Vidya Sri</span>
    <span>Aditi Bhattacharya</span>
    <span>Dr. Zubia Mumtaz</span>
    <span>Dr. Omrana Pasha</span>
    <span>Abed Mouiduddin</span>
    <span>Nadia Manzoor</span>
    <span>Ghalib Shriaz Dhalla</span>
    <span>Samra Habib</span>
    <span>Gurjot Kaur</span>
    <span>Farhat Rahman</span>
    <span>Aniruddha Dutta</span>
    <span>Joya Ahmad</span>
    <span>Sonia Katyal</span>
    <span>Samra Habib</span>
    <span>Shenila Khoja­Moolji</span>
    <span>Amna Nawaz</span>
  </div>
  <div class="cover">

  </div>
  <div class="photowall">
  <div class="prof_1_1" style="background-image:url('{{asset "images/ghalib.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/krish.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/samra.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/skk.official.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/zubia.JPG"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/FullSizeRender.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/mrunalini.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/gurjot.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/omrana.JPG"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/shenila.JPG"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/vidya.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/ruchi.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/1.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/2.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/3.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/4.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/5.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/6.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/7.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/9.jpg"}}')"></div>

  <div class="prof_1_1" style="background-image:url('{{asset "images/Headshot.jpg"}}')"></div>

  <div class="prof_1_1" style="background-image:url('{{asset "images/5.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/zubia.JPG"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/FullSizeRender.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/mrunalini.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/gurjot.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/omrana.JPG"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/shenila.JPG"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/vidya.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/ruchi.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/1.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/2.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/3.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/4.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/5.png"}}')"></div>

  <div class="prof_1_1" style="background-image:url('{{asset "images/ghalib.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/krish.png"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/samra.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/skk.official.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/FullSizeRender.jpg"}}')"></div>
  <div class="prof_1_1" style="background-image:url('{{asset "images/5.png"}}')"></div>

  </div>
</section>

<section name="pricing">
  <h1>Pricing?</h1>
  <p>
    Early registration will cost $25 for an All Access Student Pass and $35 for an All Access Guest

    Pass. Late registration will cost $35 for an All Access Student Pass and $45 for an All Access

    Guest Pass. In addition, single event passes will be sold for $7.
  </p>
</section>

<section name="pricing" style="background:#159776;">
  <h1>Ready to Register?</h1>
  <p>
    Let's get you set up! Register for the main conference and/or the special talks with Shashi Tharoor.
  </p>
  <p>
    <a href="http://www.eventbrite.com/e/south-asian-millenials-conference-columbia-university-tickets-20722750304?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&utm-source=cp&utm-term=listing" class="register_link">
      Register for the Conference
    </a>

    <a href="https://www.eventbrite.com/e/south-asian-millenials-conference-dr-shashi-tharoor-tickets-20722979991" class="register_link">
      Register for Conversation with Shashi Tharoor.
    </a>
  </p>
</section>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{! "loop"}}

</main>
